version: "3.9"

services:
  app:
    build: .
    container_name: elearn-app
    depends_on:
      - mysql
    env_file:
      - .env
    ports:
      - "8081:8081"   # frontend (vite)
      - "8082:8082"   # backend (spring boot)

  mysql:
    image: mysql:8
    container_name: mysql-db
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  mysql_data:
